h4, h5 {
    margin: 10px;
}

#content {
	padding: 0 5px 0 5px;
}

#content .left-block {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 5px 0 5px 0;
}

#content .drilldown-left {
    float: left;
    width: 35%;
    box-sizing: border-box;
    padding-top: 5px;
}

#content .left-block p {
    height: 30px;
    margin: 0;
    padding: 6px 0 6px 40px;
    box-sizing: border-box;
}

#content .central-block p {
    width: 100%;
    font-size: 14px;
    margin:  0 5px 0 5px;
    padding-right: 5px;
    height: auto;
    box-sizing: border-box;
}

#content .left-block p.desc {
    height: 156px;
}

#content .drilldown-left p, .drilldown-right p {
    margin: 5px;
    font-size: 14px;
}

#content .left-block button, .right-block form input[type=submit],
#content #delete-buttons button{
    height: 26px;
    width: 140px;
    border: 1px solid #fff;
    margin-right: 8px;
    background-color: #207ea9;
    float: right;
    border-radius: 2px;
    box-sizing: border-box;
    padding: auto;
    font-size: 14px;
    color: #bae9ff;
    cursor: pointer;
}

#content .right-block form input[type=submit] {
    margin: 0;
    float: left;
}

#content .left-block button:hover, .right-block form input[type=submit]:hover,
#content #delete-buttons button:hover{
    background-color: #045184;
}

#content .right-block {
    float: right;
    width: 50%;
    box-sizing: border-box;
    padding: 5px 0 5px 0;
}

#content .drilldown-right {
    float: right;
    width: 65%;
    box-sizing: border-box;
    padding-top: 5px;
}

#content .right-block form {
    background-color: #ffffff;
    padding-right: 40px;
}

#content .right-block form input[type=text], input[type=date], textarea, select {
	background-color: #f6f6f6;
    border: 1px solid #c6c6c6;
    opacity: 0.9;
    height: 24px;
    margin: 3px 0 3px 0;
    padding: 3px;
    width: 100%;
    resize: none;
}

#content .right-block form textarea {
    height: 150px;
}

#content .central-block {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 5px;
}

#content #delete-buttons {
    width: 296px;
    height: 26px;
    position: relative;
    margin: 5px auto 5px;
}

#content #delete-buttons button {
    margin: 0 4px 0 4px;
    float: left;
}

.tab {
	padding: 5px;
	box-sizing: border-box;
	background: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-top: none;
}

table {
	width: 100%;
	background: #569cbd;
	border-spacing: 1px;
	font-size: 12px;	
}

th {
	background: #207ea9;
	color: #bae9ff;
	padding: 3px;
}

tr.even {
	background: #fff;
}

tr.odd {
	background: #f0f8ff;
}

tr td {
	background-color: inherit;
	text-align: center;
	padding: 3px;
}