html, body {
    height: 100%;
	width: 100%;
	background: linear-gradient(to top, #013a33, #0ffade);
    margin: 0;
}

#wrapper {
	width: 240px;
	margin: 0 auto;
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
}

.clear-block {
	width: 100%;
	height: 40%;
}

input {
	margin: 0;
	height: 30px;
	border: 1px solid #c6c6c6;
	color: #5c5c5c;
	background: #ffffff;
	opacity: 0.9;
	box-sizing: border-box;
}

input[type="text"] {
	width: 240px;
	padding-left: 5px;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
}

input[type="password"] {
	width: 210px;
	padding-left: 5px;
	border-radius: 0 0 0 5px;
	float:left;
}

input[type="submit"] {
	height: 30px;
	width: 30px;
	background: #ffffff url("img/submit-icon.png") no-repeat center;
	border-left: 0;
	border-radius: 0 0 5px 0;
	float: left;
}

input:focus {
	outline: none;
}

input[type="submit"]:hover {
	cursor: pointer;
}

input[type="submit"]:active {
	background: #f6f6f6;
	opacity: 0.8;
	cursor: pointer;
}

#footer {
	position: absolute;
	width: 100%;
	height: auto;
	left:0;
	bottom: 0;
	box-sizing: border-box;
	padding: 5px;
	color: #bae9ff;
}

#footer p {
	text-align: center;
	opacity: 0.97;
	color: #ffffff;
}