html {
	height: 100%;
	width: 100%;
	font-family:  Open Sans, sans-serif;
	font-weight: 100;
}

body {
	width: 70%;
	min-width: 720px;
	min-height: 100%;
    position: relative;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
	margin: auto;
}

#menu {
	margin: auto;
	width: 100%;
	height: 30px;
	box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

nav {
	margin-bottom: 5px;
	height: 30px;
	background-color: #207ea9;
	border-radius: 0px 0px 2px 2px;
	text-align: center;
}

nav a {
	padding: 7.5px 0px 7.5px 0px;
	float: left;
	height: 30px;
	width: 20%;
	font-size: 15px;
	color: #bae9ff;
	border-right: 1px solid #569cbd;
	box-sizing: border-box;
	text-decoration: none;
}

nav a:last-child {
	border-right: none;
}

nav a:hover, a.last:hover {
	background-color: #045184;
}

#footer {
	position: absolute; 
	width: 100%;
	height: 30px;
	left:0;
	bottom: 0;
	background-color: #207ea9;
	box-sizing: border-box;
	padding: 5px;
	color: #bae9ff;
}

#footer .left-block {
	float: left;
}

#footer .right-block {
	float: right;
}

